.sidebar-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.left-sidebar {
  width: 30%;
  height: 100%;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.top-left-container,
.bottom-left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-left-container {
  gap: 20px;
  margin-top: 150px;
}

.bottom-left-container {
  gap: 3px;
  margin-bottom: 10px;
}

.right-sidebar {
  width: 75%;
  height: 100%;
  background-color: #d4deff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  gap: 20px;
  padding: 50px;
}

.right-sidebar-content {
  margin-top: 70px;
}

.sidebar-item {
  display: flex;
  justify-content: center;
  align-items: left;
  cursor: pointer;
  margin: 12px 0;
}

.right-sidebar-item {
  justify-content: left;
}

.sidebar-icon {
  width: 18px;
  height: 18px;
}

.right-sidebar-icon {
  filter: invert(1);
}

.sidebar-text {
  margin-left: 10px;
  color: black;
  font-size: 12px;
}

.bold-text {
  font-weight: bold;
}
